@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url("https://image.freepik.com/free-photo/beautiful-shot-silhouettes-trees-dark-orange-sky-dawn-horror-concept_181624-3299.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    /* padding: 50px; */
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

body {
    background: none;
}

body,
html {
    height: 100%;
}

@keyframes example {
    0% {
        background-image: url("https://image.freepik.com/free-photo/sunlight-shining-single-mountain-top-sunset-with-dark-cloudy-sky_181624-377.jpg");
    }
    45% {
        background-image: url("https://image.freepik.com/free-photo/beautiful-shot-sunset-seaside-with-boat-middle_181624-443.jpg");
    }
    55% {
        background-image: url("https://image.freepik.com/free-photo/seascape-with-clear-sky-waves-sunset_158595-6266.jpg");
    }
    100% {
        background-image: url("https://image.freepik.com/free-photo/sunlight-shining-single-mountain-top-sunset-with-dark-cloudy-sky_181624-377.jpg");
    }
}

.contentdiv {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Alata", sans-serif;
    color: wheat;
}

.form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: inline-block;
    color: wheat;
    font-family: "Alata", sans-serif;
}